h1 {
    text-align: center;
}
body {
    font-size: 1.25rem;
  font-family: "Share Tech Mono", monospace;
  align-items: center;
  text-align: center;
}

.card {
  /* padding: 15px; */
  background: url(./images/contactcard.jpeg) no-repeat;
  background-size: cover;
  background-position: 2% 75%;
}

#linked {
  opacity: 0.75;
  margin-left: 8px;
}

.links {
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 35px;
  padding: 25px 30px 25px 30px;
  background-color: rgb(255, 255, 255, 0.5);
}
.line {
  border-bottom: 1px solid black;
  margin: 20px 0 20px 0;
}
.card-title {
  font-size: 2rem;
}
